{% extends "base.html" %}

{% block content %}
{% if pole_list %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Brand</th>
        <th scope="col">Length</th>
        <th scope="col">Weight</th>
        <th scope="col">Material</th>
      </tr>
    </thead>
    <tbody>
      {% for pole in pole_list %}
      <tr>
        <th scope="row">{{pole.id}}</th>
        <td>{{pole.brand}}</td>
        <td>{{pole.pretty_length}}</td>
        <td>{{pole.weight}} lbs</td>
        <td>{{pole.material}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No poles are available...</p>
{% endif %}
{% endblock %}